@model Activities


    <h1>Create An Activity<a href="/home">Home</a> <a href="/logout">Log Out</a></h1>
    <form action="/createActivity" method="POST"> 
        <span asp-validation-for="Title"></span>
        <h1>Title : <input type="text" asp-for="Title"></h1>
        <span asp-validation-for="Date"></span>
        <h1>Date : <input  asp-for="Date"></h1>
        <span asp-validation-for="DurationFirst"></span>
        <h1 class="duration">Duration: <input type="text"  asp-for="DurationFirst"></h1>
        <span asp-validation-for="DurationSecond"></span>
        <h1 class="hours">Hours: <select asp-for="DurationSecond">
                        <option value="Hours">Hours</option>
                        <option value="Days">Days</option>
                        <option value="Minutes">Minutes</option>
                    </select></h1>
        <input type="hidden" asp-for="UserId" value="@ViewBag.Id">
        <span asp-validation-for="Description"></span>
        <h1>Description: <textarea asp-for="Description" cols="60" rows="2"></textarea></h1>
        <input type="submit" value="Create Activity">
    </form>